<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Chatbot UI</title>

        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Ubuntu:wght@300&display=swap"
            rel="stylesheet" />

        <!-- font awesome -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

        <!-- bootstrap 5.3 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous" />

        <link rel="stylesheet" href="css/dash.css" />

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <link href="css/bootstrap-4.3.1.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/chatstyle.css">
        <style>
            .card-body img {
                max-width: 100px;
                margin-right: 20px;
                border-radius: 50%;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            }

            .card-body {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 10px 0;
                border-bottom: 1px solid #ccc;
            }
        </style>
    </head>

    <body>

        <section id="title">
            <nav class="navbar navbar-expand-md navbar-light bg-warning">
                <span style="font-size: 30px; cursor: pointer; padding-left: 10px" onclick="openNav()">&#9776;
                </span>
                <a class="navbar-brand" href="">TalkSpace</a>

                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <div class="tab">

                        <a href="/dashboard">Profile</a>
                        <a href="/health_tracker">Health Tracker</a>
                        <a href="/ai_voice">AI Voice Assistant</a>
                        <a class="active" href="/nutritional_guide">Nutritional Guide</a>
                        <a href="/individual_therapy">Individual Therapy</a>
                        <a href="/discussion_forum">Discussion Forum</a>
                        <a href="/logout">Logout</a>

                    </div>
                </div>
            </nav>
        </section>

        <div class=" container nutritional_guide">
            <h2>Nutritional Guide</h2>

            <div class="card mb-4">
                <div class="card-body" style="margin-left: 10px;">
                    <img src="https://blog.nasm.org/hubfs/afm_features_nutritionex1.jpg" height="100" width="100" alt="">
                    <div>
                        <h5 class="card-title">Food Diet</h5>
                        <p class="card-text">Eat regularly. This can stop your blood sugar level from dropping, which
                            can
                            make you feel tired and bad-tempered.
                            Stay hydrated. Even mild dehydration can affect your mood, energy level and ability to
                            concentrate.
                            Eat the right balance of fats. Your brain needs healthy fats to keep working well. They're
                            found
                            in things such as olive oil, rapeseed oil, nuts, seeds, oily fish, avocados, milk and eggs.
                            Avoid trans fats - often found in processed or packaged foods - as they can be bad for your
                            mood
                            and your heart health.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>


            <div class="card mb-4">
                <div class="card-body" style="margin-left: 10px;">
                    <img src="https://www.commonwealthcarealliance.org/wp-content/uploads/2021/10/Nutrition-Exercise-wp-768x512.jpg"
                        height="100" width="100" alt="">
                    <div>
                        <h5 class="card-title">Diet and Exercise</h5>
                        <p class="card-text">Choices Today for a Healthier Tomorrow
                            Eating a healthy diet and exercising often can help control or delay health issues
                            associated
                            with aging. like high blood pressure and diabetes.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>


            <div class="card mb-4">
                <div class="card-body" style="margin-left: 10px;">
                    <img src="https://img.freepik.com/free-vector/people-world-health-day_24908-56250.jpg?w=740&t=st=1681998431~exp=1681999031~hmac=8935d0835f791559db0a4a661b69af59b8db32e4cea9689fbdf9a1a288ac206b"
                        height="100" width="100" alt="">
                    <div>
                        <h5 class="card-title">Physical health</h5>
                        <p class="card-text">Try to be physically active for at least 30 minutes on most or all days of
                            the
                            week.
                            Eat plenty of fruits and vegetables.
                            Choose foods that are low in added sugars, saturated fats, and sodium.
                            Pick whole grains and lean sources of protein and dairy products.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>


            <div class="card mb-4">
                <div class="card-body" style="margin-left: 10px;">
                    <img src="https://blog.nasm.org/hubfs/afm_features_nutritionex1.jpg" height="100" width="100" alt="">
                    <div>
                        <h5 class="card-title">Food Diet</h5>
                        <p class="card-text">Eat regularly. This can stop your blood sugar level from dropping, which
                            can
                            make you feel tired and bad-tempered.
                            Stay hydrated. Even mild dehydration can affect your mood, energy level and ability to
                            concentrate.
                            Eat the right balance of fats. Your brain needs healthy fats to keep working well. They're
                            found
                            in things such as olive oil, rapeseed oil, nuts, seeds, oily fish, avocados, milk and eggs.
                            Avoid trans fats - often found in processed or packaged foods - as they can be bad for your
                            mood
                            and your heart health.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body" style="margin-left: 10px;">
                    <img src="https://www.commonwealthcarealliance.org/wp-content/uploads/2021/10/Nutrition-Exercise-wp-768x512.jpg"
                        height="100" width="100" alt="">
                    <div>
                        <h5 class="card-title">Diet and Exercise</h5>
                        <p class="card-text">Choices Today for a Healthier Tomorrow
                            Eating a healthy diet and exercising often can help control or delay health issues
                            associated
                            with aging. like high blood pressure and diabetes.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body" style="margin-left: 10px;">
                    <img src="https://img.freepik.com/free-vector/people-world-health-day_24908-56250.jpg?w=740&t=st=1681998431~exp=1681999031~hmac=8935d0835f791559db0a4a661b69af59b8db32e4cea9689fbdf9a1a288ac206b"
                        height="100" width="100" alt="">
                    <div>
                        <h5 class="card-title">Physical health</h5>
                        <p class="card-text">Try to be physically active for at least 30 minutes on most or all days of
                            the
                            week.
                            Eat plenty of fruits and vegetables.
                            Choose foods that are low in added sugars, saturated fats, and sodium.
                            Pick whole grains and lean sources of protein and dairy products.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>


        </div>


        <div class="footer">
            <div class="footer-container">
                <p class="copyright">© TalkSpace </p>
                <i class="fa fa-facebook-square" style="font-size: 28px"></i>
                <i class="fa fa fa-instagram" style="font-size: 28px"></i>
                <i class="fa fa fa-github" style="font-size: 28px"></i>
            </div>
        </div>




        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>



        <script>
            // function openNav() {
            //     document.getElementById("mySidenav").style.display = "block";
            // }

            // function closeNav() {
            //     document.getElementById("mySidenav").style.display = "none";
            // }

            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
                document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
                document.body.style.backgroundColor = "white";
            }
        </script>

        <script src="js/chat.js"></script>

    </body>

</html>