body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}

.chat-container {
	background-color: #fff;
	/* max-width: 500px; */
  
  width: 90%;
	margin: 10px auto;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.chat-history {
  height: 420px;
  overflow-y: scroll;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow:auto;
}

.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

.user-message {
  background-color: #d9edf7;
  color: #31708f;
  float: right;
  clear: both;
  text-align: right;
}

.bot-message {
  background-color: #e0ad1f;
  width: 50%;
  color: #333333;
  float: left;
  clear: both;
  text-align: left;
}

.chat-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}

.chat-input button {
  margin-left: 50%;
  width: 60px;
  height: 60px;
  background: #e0ad1f;
  color: green;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  text-decoration: none;
}

.audio .fa-stop {
  color: red;
}

#predict-btn {
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#predict-btn.loading {
  background-color: gray;
}

#predict-btn.loading:after {
  /* content: '';
  align-items: center;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid white;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
  margin-left: 10px; */
  content: "";
  box-sizing: border-box;
  display: inline-block;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  margin-top: 5%;
  margin-left: 45%;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
